#top p {
  color: rgb(0,82,76);
  font-size: 20pt;
  font-weight: bold;
  border: solid rgb(248,177,193) 3px;
  border-radius: 16px;
  background-color: rgb(6,214,160);
  margin-left: 15px;
  margin-right: 800px;
  padding: 20px;
  padding-left: 50px;
  font-family: "Gaegu"
}

#goals p {
  color: rgb(0,82,76);
  font-weight: bold;
  font-size: 15pt;
  border: solid rgb(248,177,193) 3px;
  border-radius: 16px;
  background-color: rgb(6,214,160);
  margin-left: 0px;
  margin-right: 800px;
  padding: 30px;
  font-family: "Gaegu"
}

#about p {
  color: rgb(0,82,76);
  font-weight: bold;
  font-size: 15pt;
  margin-left: 15px;
  font-family: "Gaegu"
}

#links p{
  color: rgb(0,82,76);
  margin-left: 15px;
  font-family: "Gaegu"
}

ul {
  color: rgb(0,82,76);
  font-weight: bold;
  font-size: 15pt;
  font-family: "Gaegu"
}

h1 {
  color: rgb(6,214,160);
  font-size: 25pt;
  font-family: "Cherry Swash"
}

h2 {
  color: rgb(6,214,160);
  font-size: 25pt;
  font-family: "Cherry Swash"
}

#about h3 {
  color: rgb(0,82,76);
  font-size: 25pt;
  font-family: "Cherry Swash"
}

#links h3 {
  color: rgb(6,214,160);
  font-size: 25pt;
  font-family: "Cherry Swash"
}

a:link {
  font-size: 15pt;
  color: rgb(6,214,160);
}

a:visited {
  color: rgb(154,154,154);
}

a:hover {
  color: rgb(0,163,152);
}

img {
  width: 25vw;
  margin: 35px;
}

body {
  background-color: rgb(0,82,76)
}

#top {
  margin-left: 20px;
}

#goals {
  margin-left: 20px;
}

#about {
  margin-left: 20px;
  border: solid rgb(248,177,193) 3px;
  border-radius: 16px;
  background-color: rgb(6,214,160);
  margin-right: 800px;
  padding-left: 20px;
}

#links {
  margin-left: 20px;
}
