h1 {
  font-family: 'Roboto', sans-serif;
}

img {
  width: 80vw;
  margin-left: 10vw;
}

#quotes {
  margin-left: 17vw;
  margin-right: 20vw;
}

#quoteButton img {
  width: 10vw;
  padding-left: 0px;
  margin-left: 0px;
}

#quoteButton {
  width: 11vw;
  border-radius: 8px;
  margin-top: 3vw;
}

button:hover img {
  opacity: 0.7;
}
