p {
  font-family: 'DM Sans', sans-serif;
}



#hero h1 {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 96pt;
  z-index: 1;
  position: absolute;
  margin-left: 19vw;
  margin-right: 19vw;
  margin-top: 4vw;

}

h2 {
  font-family: 'Abhaya Libre', serif;
  font-size: 96pt;
}

h3 {
  font-family: 'Abhaya Libre', serif;
  font-size: 48pt;
}

#hero img {
  width: 100vw;
  height: 20vw;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  object-fit: cover;
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  margin-left: 20px;
  margin-right: 40px;
  font-family: 'Abhaya Libre', serif;
  font-size: 48pt;
  color: rgb(103,103,103);
  transition: color .3s linear;
}

nav a:hover {
  color: black;
}

#about h3 {
  margin-bottom: 0px;
}



#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about p {
  width: 60vw;

}

#home_links {
  display: flex;
  justify-content: center;
}

#homeimage1 {
  height: 30vw;
  width: 29vw;
  object-fit: cover;
}

#homeimage2 {
  height: 30vw;
}

.homeimage {
  background-color: black;
  padding: 0px;
  margin: 3vw;
}

.homeimage img {
  transition: opacity .3s linear;
}

.homeimage img:hover {
  opacity: .7;
}

#otherlinks {
  margin: 3vw;
  display: flex;
  justify-content: center;
}

#instagram {
  width: 5vw;
  opacity: 0.7;
  transition: opacity .3s linear;
}

#instagram:hover {
  opacity: 1;
}

#pieces {
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}

#pieces img {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
}

.art {
  background-color: black;
  padding: 0px;
  margin: 3vw;
}

.art img {
  transition: opacity .3s linear;
}

.art img:hover {
  opacity: .7;
}

.overlay {
  z-index: 2;
  background-color: rgba(0,0,0,0.7);
  width: 100vw;
  height: 100vh;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  display: none;
}
.overlaytext {
  color: white;
  align-content: center;
  padding: 10vw;
}

.overlayimage img {
  z-index: 3;
  height: 90vh;
  margin: 25px;
  margin-left: 10vw;
}
