div {
  background-color: cyan;
}

#skulls {
  display: flex;
}

.options {
  flex-grow: 1;
  width: auto;
  margin: 3vw;
  padding: 3vw;
}

img {
  max-width: 25vw;
  height: 30vh;
  object-fit: cover
}

button {
  float: right;
  padding: 10px 50px;
  margin-right: 10vw;
}
